#draggable 
{
	width: 900px;
    height: 500px;
    padding: 0.5em;
    background-color: rgba(255,255,255,0.95);
    z-index: 99999;
    position: fixed;
    border-radius: 15px;
    border: 1px solid #fc0101;
    display:none;
    overflow: auto;
    font-size: 15px;
}


#botonCerrar
{
	cursor: pointer;
    width: 30px;
    position: relative;
    top: -7px;
    float: right;
}

